html, body.main {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main {
    position: relative;
}

.loading {
    width: 100%;
    height: 100%;
    background: #000;
    position: absolute;
    z-index: 10;
    display: none;
}

.load-head {
    position: absolute;
    top: 7%;
    width: 100%;
    text-align: center;
}

.load-head h3 {
    color: #fff;
}

.load-head h3:nth-child(1) {
    font-size: 0.5rem;
}

.load-head h3:nth-child(2) {
    font-size: 0.25rem;
    padding: 0.1rem 0;
}

.progress {
    position: absolute;
    top: 20%;
    width: 80%;
    height: 0.4rem;
    margin: 0 10%;
    border-radius: 0.1rem;
    background: #fff;
    overflow: hidden;
}

.progress-bar {
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(45deg, #5cb85c 0%, #5cb85c 25%, #74c274 25%, #74c274 50%, #5cb85c 50%, #5cb85c 75%, #74c274 75%, #74c274 100%);
    background: linear-gradient(45deg, #5cb85c 0%, #5cb85c 25%, #74c274 25%, #74c274 50%, #5cb85c 50%, #5cb85c 75%, #74c274 75%, #74c274 100%);
    background-size: 0.4rem 0.4rem;
    background-repeat: repeat-x;
    -webkit-transition: width 1s linear;
    transition: width 1s linear;
}

.message {
    width: 100%;
    height: 100%;
    background: #eaeaea;
    position: absolute;
    z-index: 8;
    display: none;
}

.message ul {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0.2rem;
}

.message ul li {
    max-width: 3.6rem;
    padding: 0.25rem;
    line-height: 0.4rem;
    font-size: 0.26rem;
    margin-bottom: 0.4rem;
    border-radius: 0.1rem;
    position: relative;
    opacity: 0;
}

.message ul li.left {
    float: left;
    left: 1.25rem;
    background: #fff;
    border: 0.02rem solid #cacaca;
}

.message ul li.right {
    float: right;
    left: -1.25rem;
    background: #a0e55f;
    border: 0.02rem solid #93b474;
}

.message ul li .arrow {
    width: 0.1rem;
    height: 0.2rem;
    background-size: 100% 100%;
    position: absolute;
    top: 0.2rem;
}

.message ul li.left .arrow {
    left: -0.1rem;
    background-image: url("../images/arrow-left.png");
}

.message ul li.right .arrow {
    right: -0.1rem;
    background-image: url("../images/arrow-right.png");
}

.message ul li img {
    width: 0.8rem;
    height: 0.8rem;
    position: absolute;
    top: 0;
    border-radius: 50%;
}

.message ul li.left img {
    left: -1rem;
}

.message ul li.right img {
    right: -1rem;
}

.keyboard {
    width: 6.4rem;
    height: 5.16rem;
    background: url("../images/keyboard.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 50%;
    margin-left: -3.2rem;
    bottom: -7.2rem;
    -webkit-transform: translate(0, 8.29rem);
    transform: translate(0, 8.29rem);
    -webkit-transition: 1s;
    transition: 1s;
}

.keyboard-text {
    width: 4rem;
    height: 0.4rem;
    line-height: 0.4rem;
    position: absolute;
    top: 0.35rem;
    left: 0.9rem;
    font-size: 0.25rem;
}

.keyboard-btn {
    width: 1.47rem;
    height: 0.74rem;
    position: absolute;
    right: 0.1rem;
    bottom: 0.6rem;
    background: url("../images/keyboard-btn.png") no-repeat;
    background-size: 100% 100%;
}

.cube{
    width:100%;
    height:100%;
    position: absolute;
    z-index: 7;
    background: url("../images/cubeBg.jpg") no-repeat;
    background-size: 100% 100%;
    -webkit-perspective: 8rem;
    perspective: 8rem;
}

.cube ul {
    width: 5.1rem;
    height: 5.1rem;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -2.55rem;
    margin-top: -2.55rem;
    -webkit-transform: scale(0.5) rotateX(-35deg) rotateY(135deg);
    transform: scale(0.5) rotateX(-35deg) rotateY(135deg);
    /**/
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 2.55rem 2.55rem -2.55rem;
    transform-origin: 2.55rem 2.55rem -2.55rem;
}

.cube ul li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: 100% 100%;
}

.cube ul li:nth-child(1) {
    background-image: url("../images/cube1.png");
    top: -5.1rem;
    transform-origin: bottom;
    transform: rotateX(90deg);
}

.cube ul li:nth-child(2) {
    background-image: url("../images/cube2.png");
    top: 5.1rem;
    transform-origin: top;
    transform: rotateX(-90deg);
}

.cube ul li:nth-child(3) {
    background-image: url("../images/cube3.png");
    left: 5.1rem;
    transform-origin: left;
    transform: rotateY(90deg);
}

.cube ul li:nth-child(4) {
    background-image: url("../images/cube4.png");
    left: -5.1rem;
    transform-origin: right;
    transform: rotateY(-90deg);
}

.cube ul li:nth-child(5) {
    background-image: url("../images/cube5.png");
    transform: translateZ(0);
}

.cube ul li:nth-child(6) {
    background-image: url("../images/cube6.png");
    transform: translateZ(-5.1rem);
}

.cubeTip {
    width: 3.94rem;
    height: 0.44rem;
    background: url("../images/cubeTip.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 50%;
    margin-left: -1.97rem;
    bottom: 0.5rem;
}
